{%  extends 'base.html' %}
{% block content %}

<h1>Pokemon Details</h1>

<div class="card">
    <span class="card-title">{{ object.name }}</span>
    <div class="card-content">
        <p>Type: {{ object.type }}</p>
        <p>Description: {{ object.description }}</p>
        <p>Level: {{ object.lvl }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'pokemon_update' object.id %}">Edit</a>
        <a href="{% url 'pokemon_delete' object.id %}">Delete</a>
      </div>
</div>

{% endblock %}