{%  extends 'base.html' %}
{% block content %}

<h1>Pokemon Details</h1>

<div class="row">
    <div class="col s6">
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ object.name }}</span>
                <p>Type: {{ object.type }}</p>
                <p>Description: {{ object.description }}</p>
                <p>Level: {{ object.lvl }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'pokemon_update' object.id %}">Edit</a>
                <a href="{% url 'pokemon_delete' object.id %}">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
      <form action="{% url 'add_training' object.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
      </form>
      <br>
    {% if object.training_set.count > 4 %}
      <div class="card-panel teal-text center-align">{{ object.name }} has been trained well!</div>
    {% else %}
      <div class="card-panel red-text center-align">{{ object.name }} might need more training!</div>
    {% endif %}
        <table class="striped">
            <thead>
                <tr><th>Date</th><th>Battle</th></tr>
            </thead>
            <tbody>
                {% for training in object.training_set.all %}
                <tr>
                    <td>{{training.date}}</td>
                    <td>{{training.get_battle_display}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>{{ object.name }}'s Items</h3>
        {% if object.items.count %}
        {% for item in object.items.all %}
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                    A <span style="color: {{ item.color }}">{{ item.color }}</span> {{ item.name }}
                    </span>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <h5>No Items :(</h5>
        {% endif %}
    </div>
<div class="col s6">
    <h3>Available Toys</h3>
    {% if items.count %}
      {% for item in items.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ item.color }}">{{ item.color }}</span> {{ item.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_item' object.id item.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{object.name}} Already Has All Items Available</h5>
    {% endif %}
  </div>
<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });

    const selectEl = document.getElementById('id_battle');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}